<p>methodspayment works!</p>
<div class="container d-lg-flex">
    <div class="box-1 bg-light user">
        <div class="d-flex align-items-center mb-3">
            <img src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                class="pic rounded-circle" alt="">
            <p class="ps-2 name">Oliur</p>
        </div>
        <div class="box-inner-1 pb-3 mb-3 ">
            <div class="d-flex justify-content-between mb-3 userdetails">
                <p class="fw-bold" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:x-large;"><b>
                    Dental_Care HOSPITALITY</b></p>
                <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>****</p>
            </div>



            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.ivorydentistry.in/assets/img/why-choose-us.webp" class="d-block w-100"
                            alt="...">
                    </div>
                </div>
            </div>






            <p class="dis info my-3" style="font-size: larger;">Dental Health maintainence is an expereince you will
                enjoy with a,<u> SMILE YOU WIll
                LOVE...</u>
            </p>
            <div class="radiobtn">
                <input type="radio" name="box" id="one">
                <input type="radio" name="box" id="two">
                <input type="radio" name="box" id="three">
                <label for="one" class="box py-2 first">
                    <div class="d-flex align-items-start">
                        <span class="circle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fw-bold" style="font-size: large;">
                                    Any Type of Dental Services
                                </span>
                                <span class="fas fa-dollar-sign">101</span>
                            </div>
                            <span style="font-size: medium;">10 x Presets. Released in 2018</span>
                        </div>
                    </div>
                </label>



            </div>
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold"  style="font-size: larger;"> Payment Details</p>
                <p class="dis mb-3">Complete your purchase by providing your payment details</p>
            </div>
            <form id="Paymentm"  (ngSubmit)="onSubmit()">
                
                <div class="mb-3">
                    <p class="dis fw-bold mb-2" style="font-size: larger;">Payment - Id</p>
                    <input class="form-control" type="id" id="id" required [(ngModel)]="payment.id"
                        name="id">
                </div>
                <div class="mb-3">
                    <p class="dis fw-bold mb-2" style="font-size: larger;">Gmail Id</p>
                    <input class="form-control" type="email" id="email" required [(ngModel)]="payment.email"
                        name="email">
                </div>
                <div>
                    <p class="dis fw-bold mb-2" style="font-size: larger;">Card details</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3"></div>
                        <input type="text" class="form-control" placeholder="Card Details">
                        <div class="d-flex w-50">
                            <input type="text" class="form-control px-0" placeholder="MM/YY">
                            <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV">
                        </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2" style="font-size: larger;">Cardholder name</p>
                        <input class="form-control" type="text" id="name" required [(ngModel)]="payment.name"
                            name="name">
                    </div>
                    <div class="address">
                        <p class="dis fw-bold mb-3" style="font-size: larger;">Billing address</p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected hidden>India</option>
                            <option value="1">United States </option>
                            <option value="2">Australia</option>
                            <option value="3">Canada</option>
                        </select>
                        <div class="d-flex">
                            <input class="form-control zip" type="text" placeholder="city" id="city" required
                                [(ngModel)]="payment.city" name="city">
                            <input class="form-control state" type="text" placeholder="State" id="state" required
                                [(ngModel)]="payment.state" name="state">
                        </div>
                        <div class=" my-3">
                            <p class="dis fw-bold mb-2" style="font-size: larger;">GST Number</p>
                            <div class="inputWithcheck">
                                <input class="form-control" type="text" value="GB012345B9">
                                <span class="fas fa-check"></span>

                            </div>
                        </div>
                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p style="font-size: larger;">Subtotal</p>
                                <p style="font-size: larger;" ><span class="fas fa-dollar-sign"></span>1800</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p  style="font-size: larger;" > C.G.S.T </p>
                                <p style="font-size: larger;"><span class="fas fa-dollar-sign"></span>11%</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p style="font-size: larger;" > S.G.S.T </p>
                                <p style="font-size: larger;"><span class="fas fa-dollar-sign"></span>11%</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold" style="font-size: larger;">Total</p>
                                <p class="fw-bold" style="font-size: larger;"><span class="fas fa-dollar-sign"></span>2000</p>
                            </div>

                            
                           
                             <button type="submit" (click)="alertMessage()" class="btn btn-primary mt-2" > Pay Rs:
                                2000/-</button> 

                            <button class="btn btn-primary mt-2"  routerLink="/ReceiptComponent"> Click for Receipt
                                </button>  

                                

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>