
<!-- -- About section -->

<section id="about" class="about_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-mb-0 mb-5">
                <div class="position-relative">
                    <img src="../assets/images/about/about-banner1.png" class="img-fluid"> <img
                        src="../assets/images/about/about-img2.png" class="about-animate">
                </div>
            </div>

            <div class="col-md-6 text-center text-md-start">
                <h2> <b></b>Welcome to a Family</h2>
                consequuntur magni
                <p>lorum luptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
                <div class="mt-5 card">
                    <div class="about-clinic">
                        <h4>500+</h4>
                        <p>Happy Patients</p>
                    </div>
                    <div class="about-clinic">
                        <h4>88+</h4>
                        <p>Qualified Doctors</p>
                    </div>
                    <div class="about-clinic">
                        <h4>25+</h4>
                        <p>Years Experience</p>
                    </div>
                    <div class="about-clinic">
                        <h4>55+</h4>
                        <p>Dental Awards</p>
                    </div>
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                </div>
            </div>
        </div>
    </div>
</section>