<!-- Gallery -->
<section id="gallery" class="gallery_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3>Our Gallery</h3>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4"> <img src="../assets/images/gallery/1.jpg" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img src="../assets/images/gallery/2.jpg" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img src="../assets/images/gallery/3.jpg" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img src="../assets/images/gallery/5.jpg" class="w-100 h-100">
            </div>
            <div class="col-md-8 col-sm-6 mb-4">
                <img src="../assets/images/gallery/4.jpg" class="w-100 h-100">
            </div>
        </div>
    </div>
</section>