body {
    margin-top: 20px;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

  /* Apply the blinking animation to the element */
  .blinking-text {
    animation: blink 1s infinite;
  }

  #receipt-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }