
<!-- home -->
<section id="home" class="home">
    <div class="banner_wrapper wrapper">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 order-md-1 order-2">

                    <h3>Better Life Through</h3>

                    <h1>Better Dentistry</h1>

                    <p class="q" style="font-size: larger;">Join us to a fun and friendly dental environment. Our professionals are working so har to see
                        smile on your face that you deserve! We are dedicated about our duties.</p>
                    <a class="main-btn  btn-primary" routerLink="/add">Appointment</a>

                    <a href="#" class="main-btn mt-4 ms-3" (click)="dentalpage()">Learn More</a>

                </div>
                <div class="col-md-6 order-md-2 order-1 mb-md-0 mb-5">
                    <div class="top-right-sec">
                        <div class="animate-img">

                            <img class="aimg1" src="../assets/images/top-banner-img/woman-brush.png">
                            <img class="aimg2" src="../assets/images/top-banner-img/doctor.png">
                        </div>
                        <img class="aimg1" src="../assets/images/top-banner-img/top-right-img-1.png">
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="wrapper pb-0">

        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box">
                            <img src="../assets/images/top-banner-img/Appointment-icon.png">
                        </div>
                        <div>
                            <h4>Easy Appointment</h4>
                            <p>Lorem Ipsum is simply is very dummy text of the printings and type setting</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box">
                            <img src="../assets/images/top-banner-img/Emergency-icon.png">
                        </div>
                        <div>
                            <h4>Emergency Service</h4>
                            <p>Lorem Ipsum is simply is very dummy text of the printings and type setting</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box">
                            <img src="../assets/images/top-banner-img/7-Service-icon.png">
                        </div>
                        <div>
                            <h4>24/7 Service</h4>
                            <p>Lorem Ipsum is simply is very dummy text of the printings and type setting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>