
<section id="team" class="team_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3 class="text-black">Our Dentists</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">

                <div class="card rounded-3" >
                    <div class="team-img">
                        <img src="../assets/images/team/dr Gaurav.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h5>Dr Gaurav Ahire</h5>
                        <p>Senior Allergists</p>
                        <p>(MBBS)</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                   
                </div>
            </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">
                <div class="card rounded-3">
                    <div class="team-img">
                        <img src="../assets/images/team/dr Jack.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h5>Dr. Jack Dorzen</h5>
                        <p>Dermatologist</p>
                        <p>(BchD , MchD)</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">
                <div class="card rounded-3">
                    <div class="team-img">
                        <img src="../assets/images/team/dr Gaajan.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h4>Dr. Gaajan Chakraburty</h4>
                        <p> Surgery Expert</p>
                        <p> (BDS,MDent)</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">
                <div class="card rounded-3">
                    <div class="team-img">
                        <img src="../assets/images/team/dr gautam.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h5>Dr. Gautam Pushkar</h5>
                        <p>Therapist</p>
                        
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">
                <div class="card rounded-3">
                    <div class="team-img">
                        <img src="../assets/images/team/dr joshson.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h5>Dr. Johnson Swain</h5>
                        <p> Assistant Therapist</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/payment">
                <div class="card rounded-3">
                    <div class="team-img">
                        <img src="../assets/images/team/dr ravikant.jpg" class="img-fluid">
                    </div>
                    <div class="team-info pt-4 text-center">

                        <h4>Dr. Ravikant Mukharjee</h4>
                        <p>Senior Dental Expert</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </button>
            </div>

        </div>
    </div>
</section>
