
<!-- Testimonial section -->

<section id="testimonial" class="testimonial_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
              <b>  <h3 class="text-black">Testimonials</h3></b>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    <img src="../assets/images/testimonial/client1.png" class="img-fluid">
                    <h4 class="pt-4 mb-0">Kanishka Tiwari</h4>
                    <p>Professor of JAVA</p>
                </div>
            </div>
            <div class="col-xl-9 col-md-8 col-sm-6 ps-md-4 pt-sm-0 pt-4">
                <h4>Excellent Service Provided by Dental_Care</h4>
                <p>"They really took my individual case to heart. Their team is very helpful. They all work
                    together in an impressive way to make sure that my needs were met and I walked out pain
                    free."</p>

            </div>
        </div>
    </div>
</section>