<section id="services" class="services_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3>Our Services</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/1.svg">
                    </div>
                    <div>
                        <h4>1) DENTAL IMPLANT</h4>
                        <p style="font-size: large;">A dental implant is a metal post that replaces the root portion of a missing tooth...</p>
                    </div>
                    <a href="service1.html" class="main-btn mt-4" (click)="dentalimplant()" >Read More</a>
                </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/2.svg">
                    </div>
                    <div>
                        <h4>TEETH WHITENING</h4>
                        <p style="font-size: large;">Teeth whitening involves bleaching your teeth to make them lighter. It can't make your teeth...</p>
                    </div>
                    <a href="service2.html" class="main-btn mt-4" (click)="teethwhite()" >Read More</a>
                </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/3.svg">
                    </div>
                    <div>
                        <h4>ENDODONTIC PROCESS</h4>
                        <p style="font-size: large;">Many endodontic procedures are performed to relieve the pain of toothaches caused by pulp inflammation or infection...</p>
                    </div>
                    <a href="service3.html" class="main-btn mt-4" (click)="endodonticprocess()" >Read More</a>
                </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/4.svg">
                    </div>
                    <div>
                        <h4>DENTAL RESTORATION</h4>
                        <p style="font-size: large;">Restorative dentistry focuses on repairing or replacing damaged or missing teeth. These procedures help improve oral health and function...</p>
                    </div>
                    <a href="service4.html" class="main-btn mt-4" (click)="restoratioprocessn()" >Read More</a>
                </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/5.svg">
                    </div>
                    <div>
                        <h4>DENTAL EXTRACTION</h4>
                        <p style="font-size: large;">A tooth extraction may be necessary for many reasons, including severe damage or decay. One of the most common dental procedures...</p>
                    </div>
                    <a href="service5.html" class="main-btn mt-4" (click)="extraction()" >Read More</a>
                </button>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <button class="card" routerLink="/Adddoctor">
                    <div class="icon-box">
                        <img src="../assets/images/Services/6.svg">
                    </div>
                    <div>
                        <h4>GENERAL CHECK-UP</h4>
                        <p style="font-size: large;">At each check-up, your dentist should examine your teeth, gums, and mouth. They may ask about your general health and provide advice on diet, smoking, and teeth-cleaning habits...</p>
                    </div>
                    <a href="service6.html" class="main-btn mt-4" (click)="checkup()" >Read More</a>
                </button>
            </div>
        </div>
    </div>
</section>
