
<!-- Blog -->
<section id="blog" class="blog_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3 class="text-black">Latest Blog</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card p-0 border-0 rounded-0">
                    <img src="../assets/images/blog/1.jpg">
                    <div class="blog-content">
                        <h4 class="text-white mb-4">Dental Insurance with Benefits</h4>
                        <h6 class="text-white">By Admin February 18, 2018</h6>
                        <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Itaque,nostrum.
                        </p>
                        <a href="#" class="main-btn mt-2">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card p-0 border-0 rounded-0">
                    <img src="../assets/images/blog/2.jpg">
                    <div class="blog-content">
                        <h4 class="text-white mb-4">Dental Insurance with Benefits</h4>
                        <h6 class="text-white">By Admin February 18, 2018</h6>
                        <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Itaque,nostrum.
                        </p>
                        <a href="#" class="main-btn mt-2">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card p-0 border-0 rounded-0">
                    <img src="../assets/images/blog/3.jpg">
                    <div class="blog-content">
                        <h4 class="text-white mb-4">Dental Insurance with Benefits</h4>
                        <h6 class="text-white">By Admin February 18, 2018</h6>
                        <p class="mt-2 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Itaque,nostrum.
                        </p>
                        <a href="#" class="main-btn mt-2">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>